.capture-container {
  border: 2px dashed #FBC02D;
  width: 700px;
  height: 500px;
  margin-left: 30px;
  margin-top: 20px;
  padding: 20px;
  background-color: white;
}

.head-center {
  text-align: center;
}
